* {
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body{
    font-weight: lighter;    
    
    background-image: url(imagens/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
    height: 150vh;
    
    
}

header .logo img{
    position: absolute;
    left: 65px;
    
    
    width: 190px;
    height: 100px;
    
    

}

.header-content {
    display: flex;
    background: rgba(0, 0, 0, 0.527);
    height: 130vh;

    justify-content: center;
}

header .login {
    background-color: rgba(0, 0, 0, 0.842);


    width: 315px;
    height: 570px;

    border-radius: 5px;

    padding: 60px 68px 40px 68px;
    margin-top: 90px;
    
}

header .login h1 {
    color: #FFF;
    margin-bottom: 30px;
}

header .login #email {
    margin-bottom: 20px;

    height: 50px;
    width: 314px;

    border-radius: 4px;

    background-color: #BBB;
}

header .login #senha {
    margin-bottom: 50px;

    height: 50px;
    width: 314px;

    border-radius: 4px;
    
    background-color: #BBB;
    
}


header .login .botao {
    background-color: rgb(224, 31, 31);

    height: 50px;
    width: 314px;

    border-radius: 4px;

    text-align: center;
    line-height: 50px;

    margin-bottom: 20px;
}

header .login .botao a {
    text-decoration: none;
    color: #FFF;

}

header .login label {
    color: #777;

    font-size: 0.8rem;

}

header .lembrar-ajuda a{
    color: #777;

    text-decoration: none;

    font-size: 0.8rem;
    margin-left: 80px;
}

header .lembrar-ajuda a:hover{
    color: #777;

    text-decoration: underline;

    font-size: 0.8rem;
    margin-left: 80px;
}




header .login .facebook {
    position: relative;
    top: 40px;

    text-decoration: none;

    color: #777;

    font-size: 0.9rem;
}

header .login .facebook:hover {
    position: relative;
    top: 40px;

    text-decoration: underline;

    color: #777;

    font-size: 0.9rem;
}


header .login .fa-facebook-square {
    color: rgb(31, 92, 224);

    font-size: 1.3rem;

    padding-right: 10px;
}

header .login  .assine {
    position: relative;
    top: 55px;
    
    font-size: 1rem;
    font-weight: lighter;
    
    color: #777;
}

header .login  .assine a {
    text-decoration: none;

    color: #FFF;

    font-weight: lighter;

}

header .login  .assine a:hover {
    text-decoration: underline;

    color: #FFF;

    font-weight: lighter;

}

header .login p{
    color: #777;

    position: relative;
    top: 65px;

    font-size: 0.85rem;
}

header .login #saiba-mais {
    color: rgb(0, 47, 255);
    text-decoration: none;
}

header .login #saiba-mais:hover {
    color: rgb(0, 47, 255);
    text-decoration: underline;
}

/*RODAPÉ*/

footer .footer-content {
    background-color: rgba(0, 0, 0, 0.842);

    
    padding: 30px 150px 30px 180px;

    height: 30vh;
}

footer .footer-content p {
    color: #777;
}

footer .footer-content #numero {
    color: #777;

    text-decoration: none;
}

footer .footer-content #numero:hover {
    color: #777;

    text-decoration: underline;
}

footer .suport{
    padding: 25px 0px 0px 0px;
    font-size: 0.8rem;
}

footer .suport #perguntas-freq {
    color: #777;
    text-decoration: none;
    margin-right: 140px;
}

footer .suport #perguntas-freq:hover {
    color: #777;
    text-decoration: underline;
}

footer .suport #centro {
    color: #777;
    text-decoration: none;
    margin-right: 140px;
}

footer .suport #centro:hover {
    color: #777;
    text-decoration: underline;
}

footer .suport #termos {
    color: #777;
    text-decoration: none;
    margin-right: 140px;
}

footer .suport #termos:hover {
    color: #777;
    text-decoration: underline;
}

footer .suport #privacidade {
    color: #777;
    text-decoration: none;
    margin-right: 140px;
}

footer .suport #privacidade:hover {
    color: #777;
    text-decoration: underline;
}


footer .suport #pref {
    color: #777;
    text-decoration: none;
    margin-right: 135px;
    
    position: relative;
    top: 20px;
}

footer .suport #pref:hover {
    color: #777;
    text-decoration: underline;
}



footer .suport #info {
    color: #777;
    text-decoration: none;
    margin-right: 140px;
    
    position: relative;
    top: 20px;
}

footer .suport #info:hover {
    color: #777;
    text-decoration: underline;
}

footer .suport .lang{
    position: relative;
    top: 50px;

   

}

footer .suport #language{
    background-color: rgba(0, 0, 0, 0.5);

    color: #777;

    width: 115px;
    height: 40px;

    padding-left: 8px;

    font-size: 1rem;

    border-radius: 3px;
}

footer .assinatura{
    text-align: center;

    position: relative;
    top: 80px;
}


footer .assinatura a{
    text-decoration: none;

    color: #777;
}

footer .assinatura a:hover {
    text-decoration: underline;

    color: #777;
}